body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1, h2 {
    color: #72144e;
    margin-bottom: 20px;
}

section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

#Ingles {
    width: 100px; /* Ajusta el ancho según prefieras */
    padding: 5px;
    border: 2px solid #cac7c7;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: white; /* Color de fondo */
 text-align: center;
}

#calificacion:focus {
    border-color: #7e0951;  /* Color del borde al enfocarse */
    outline: none; /* Elimina el borde azul predeterminado */
    box-shadow: 0 0 10px #719ECE; /* Sombra al enfocarse */
}

#Español {
    width: 100px; /* Ajusta el ancho según prefieras */
    padding: 5px;
    border: 2px solid #cac7c7;; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: white; /* Color de fondo */
}

#calificacion:focus {
    border-color: #7e0951; /* Color del borde al enfocarse */
    outline: none; /* Elimina el borde azul predeterminado */
    box-shadow: 0 0 10px #719ECE; /* Sombra al enfocarse */
}

#Historia {
    width: 100px; /* Ajusta el ancho según prefieras */
    padding: 5px;
    border: 2px solid #cac7c7;; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: white; /* Color de fondo */
}

#calificacion:focus {
    border-color: #7e0951; /* Color del borde al enfocarse */
    outline: none; /* Elimina el borde azul predeterminado */
    box-shadow: 0 0 10px #719ECE; /* Sombra al enfocarse */
}

#Geografía {
    width: 100px; /* Ajusta el ancho según prefieras */
    padding: 5px;
    border: 2px solid #cac7c7; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: white /* Color de fondo */
}

#calificacion:focus {
    border-color: #cac7c7; /* Color del borde al enfocarse */
    outline: none; /* Elimina el borde azul predeterminado */
    box-shadow: 0 0 10px #719ECE; /* Sombra al enfocarse */
}

#Matemáticas {
    width: 100px; /* Ajusta el ancho según prefieras */
    padding: 5px;
    border: 2px solid #cac7c7; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: white; /* Color de fondo */
}

#calificacion:focus {
    border-color: #7e0951; /* Color del borde al enfocarse */
    outline: none; /* Elimina el borde azul predeterminado */
    box-shadow: 0 0 10px #719ECE; /* Sombra al enfocarse */
}

label {
    font-weight: bold; /* Negrita */
    color: #410a2c;  /* Color del texto */
    margin-bottom: 8px; /* Espacio inferior */
   /*display: block; /* Asegura que la etiqueta ocupe toda la línea */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 2px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #5c055c;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #ddd;
}


input, select, button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
}

button {
    background: #5c055c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
    
}

button:focus {
    outline: 2px solid #7e0951; /* Contraste visual al hacer focus */
    outline-offset: 2px;
}

input[type="submit"] {
    background-color: #5c055c;
    color: #fff;
    outline-offset: 2px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

#buscar {
    width: 400px; /* Tamaño de largo ESPACIO DE BUSCAR*/
    padding: 10px;
    border: 2px solid #cac7c7; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: #f9f9f9; /* Color de fondo */
}

#buscar:focus {
    border-color: #7e0951; /* Color del borde al enfocarse ESPACIO DE BUSCAR*/
    outline: none; /* Elimina el borde azul predeterminado */
    box-shadow: 0 0 10px #cac7c7; /* Sombra al enfocarse */
}